* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
  list-style: none;
}


body {
    background-attachment: fixed;
    background-image: url(media/natur1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;

}

#forside {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overskrift {
    width: 550px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 40px;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 20px;
    border-radius: 30px;

}

#norsk_natur {
    height: 100vh;
}