* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-attachment: fixed;
    background-image: url(media/natur1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-inline: 40px;
    position: sticky;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    
}

#forside {
    height: 90vh;
    display: flex;
}

#norsk_natur {
    height: 100vh;
}


