body {
    background-image: url(media/tur.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white;
    gap: 20px;

}

main img {
    width: 350px;
}

#oppdrag {
    display: none;
}

.pakk {
    display: none;
}

.pakk input {
    border-radius: 15px;
    padding: 10px;
    margin-right: 20px;
}

.pakk p {
    border: 2px white solid;
    border-radius: 15px;
    padding: 10px;
    width: 90px;
}
button {
    padding: 10px;
    width: 150px;
    border-radius: 15px;
    background-color: inherit;
    border: 2px white solid;
    color: white;
}