@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --red: rgb(211, 43, 43);
    --lyseblå:rgb(93, 153, 231);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

h2 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
}


body {
    font-family: "Libre Baskerville", serif;
}

header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

}

.logo {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header img {
    width: 50px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 800px;

}

nav li {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    border-radius: 10px;
    color: white;
    transition: transform 0.3s ease;
}

nav li:hover {
    transform: scale(1.1);
    text-decoration: underline;
}