@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --red: rgb(211, 43, 43);
    --lyseblå:rgb(93, 153, 231);
    --gjennomsiktig: rgba(0, 0, 0, 0.4);
    --grønn: rgb(30, 123, 30);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

h2 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
}


body {
    font-family: "Libre Baskerville", serif;
}

header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

}

.logo {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header img {
    width: 50px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 800px;

}

nav li {
    background-color: var(--gjennomsiktig);
    padding: 10px;
    border-radius: 10px;
    color: white;
    transition: transform 0.3s ease;
}

nav li:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

.burger {
    width: 30px;
    display: none;
}

.kryss {
    width: 30px;
    display: none;
}

footer {
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    padding: 100px;
    gap: 30px;
    color: white;

}

footer img {
    width: 50px;
}

.fcontainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

.fboks {
    width: 30%;
}

.fboks h2 {
    font-size: 20px;
     
}

.fboks ul {
    line-height: 25px;
}
@media (width < 1160px) {
    nav ul{
        display: none;
    }

    .burger {
        display: block;
    }

    .active nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        position: absolute;
        top: 10px;
        right: 0;
        width: 250px;
        border-bottom-left-radius: 40px;
        padding-right: 90px;
    }

    .active .kryss {
        display: block;
        z-index: 5
    }


}