@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --red: rgb(211, 43, 43);
    --lyseblå:rgb(93, 153, 231);
    --gjennomsiktig: rgba(0, 0, 0, 0.4);
    --grønn: rgb(30, 123, 30);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

h2 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
}


body {
    font-family: "Libre Baskerville", serif;
}



footer {
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    padding: 100px;
    gap: 30px;
    

}

footer img {
    width: 50px;
}

.fcontainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

.fboks {
    width: 30%;
}

.fboks h2 {
    font-size: 20px;
     
}

.fboks ul {
    line-height: 25px;
}
